# Ignore virtual environment
venv/

# Ignore compiled Python files
__pycache__/

# Ignore credentials and secrets
credentials.json
secret.py
config.py
# Ignore CSV or other sensitive data files (optional)
# resources/*.csv